form {

}
fieldset {

}
label {
	@extend p;
	display: block;
	font-weight: bold;
}
input,
select,
textarea {
}

// Text inputs
%input-text {
	width: 100%;
	margin-bottom: $input-text-margin-bottom;
	padding: $input-text-padding;
	border: $input-text-border-width $input-text-border-style $input-text-border-color;
}
input {
	&[type="date"],
	&[type="datetime"],
	&[type="datetime-local"],
	&[type="email"],
	&[type="file"],
	&[type="month"],
	&[type="number"],
	&[type="password"],
	&[type="search"],
	&[type="tel"],
	&[type="text"],
	&[type="time"],
	&[type="url"],
	&[type="week"] {
		@extend %input-text;
		padding: $input-text-padding;
	}
}
select,
textarea {
	@extend %input-text;
}

input[type="date"] {

}
input[type="datetime"] {
	
} 
input[type="datetime-local"] {
	
} 
input[type="email"] {
	
} 
input[type="file"] {
	
} 
input[type="month"] {
	
} 
input[type="number"] {
	
} 
input[type="password"] {
	
} 
input[type="search"] {
	
} 
input[type="tel"] {
	
} 
input[type="text"] {
	
} 
input[type="time"] {
	
} 
input[type="url"] {
	
} 
input[type="week"] {
	
} 
select {

}
textarea {

}

// Button inputs
input[type="button"],
input[type="submit"],
input[type="reset"] {
	@extend .button;
} 

// Miscellaneous inputs
%input-miscellaneous {
	margin-bottom: $input-miscellaneous-margin-bottom;
}
input[type="checkbox"],
input[type="color"],
input[type="hidden"],
input[type="image"],
input[type="radio"],
input[type="range"] {
	@extend %input-miscellaneous;
}

input[type="checkbox"] {
	
} 
input[type="color"] {
	
} 
input[type="hidden"] {
	
} 
input[type="image"] {
	
} 
input[type="radio"] {
	
} 
input[type="range"] {
	width: 100%;
} 

@include placeholder {
	color: $placeholder-color;
	opacity: 1;
}