// Spacing
.no-margin {
	margin: 0;
}

// Positioning
.left {
	float: left;
}
.right {
	float: right;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}

// Size
.width-full {
	width: 100%;
}
.width-half {
	width: 50%;
}
.width-quarter {
	width: 25%;
}
.width-third {
	width: 33.33%;
}
