@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

@mixin breakpoint($min-width, $breakpoint)  {
	@if $stylesheet != "ie" and $breakpoint > 1 {
		@media screen and (min-width: $min-width) {
			@content;
		}
	} @else {
		@content;
	}
}