@mixin clear-fix {
	float: left;
	clear: both;
	width: 100%;
}

@mixin breakpoint($min-width, $breakpoint: 2)  {
	@if $stylesheet != "ie" and $breakpoint > 1 {
		@media screen and (min-width: $min-width) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
			border-radius: $radius;
}