// Base variables
// - Stylesheet
$stylesheet: 'stylesheet' !default;

// - Breakpoints
$base  : 0;			 // 0px
$small : 30.063em;   // 320px
$medium: 33.813em;   // 480px
$large : 48em;       // 767px
$xlarge: 64em;       // 1024px

// - Grid variables
$grid-columns	 : 24;            
$grid-width		 : 1170;         
$column-width	 : "";      
$column-margin	 : 30;
$breakpoints 	 : $base, $small, $medium, $large, $xlarge;
$breakpoint-alias: "base", "small", "medium", "large", "xlarge";

// - Colors
$blue 			: #0074D9;
$blue-dark		: #001F3F;
$blue-light		: lighten($blue, 10%);
$green			: #2ECC40;
$green-dark		: darken($green, 10%);
$green-light	: lighten($green, 10%);
$yellow			: #FFDC00;
$yellow-dark	: darken($yellow, 10%);
$yellow-light	: lighten($yellow, 10%);
$orange			: #FF851B;
$orange-dark	: darken($orange, 10%);
$orange-light	: lighten($orange, 10%);
$red			: #FF4136;
$red-dark		: darken($red, 10%);
$red-light		: lighten($red, 10%);
$pink			: #F012BE;
$pink-dark		: darken($pink, 10%);
$pink-light		: lighten($pink, 10%);
$purple			: #B10DC9;
$purple-dark	: darken($purple, 10%);
$purple-light	: lighten($purple, 10%);

$black			: #000;
$black-light	: #111;
$grey			: #aaa;
$grey-light		: #ddd;
$grey-dark		: #333;
$white			: #fff;

// - Sizing
$sizing-small	: rem(5);
$sizing-medium	: rem(10);
$sizing-large 	: rem(20);
$sizing-xlarge  : rem(30);

// - Borders
// -- Border widths
$border-width-small		: rem(1);
$border-width-medium	: rem(2);
$border-width-large		: rem(5);
$border-width-xlarge	: rem(10);

// -- Border style
$border-style 	: solid;

// Atoms
// - Typography
// -- Font families
$font-sans-serif	: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-serif 		: Georgia, Times, "Times New Roman", serif;
$font-monospaced	: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// -- Typography sizes
$font-size-h1: 40;
$font-size-h2: 35;
$font-size-h3: 30;
$font-size-h4: 25;
$font-size-h5: 20;
$font-size-h6: 15;
$font-size-p : 15;

// -- Typography miscellaneous
$text-selection-color: $grey;

// - Buttons
// -- Button colors
$button-bg-color-blue			: $blue;
$button-color-blue 				: $white;
$button-hover-bg-color-blue		: $blue-light;
$button-active-bg-color-blue	: $blue-dark;
$button-bg-color-green			: $green;
$button-color-green 			: $white;
$button-hover-bg-color-green	: $green-light;
$button-active-bg-color-green	: $green-dark;
$button-bg-color-yellow			: $yellow;
$button-color-yellow 			: $black;
$button-hover-bg-color-yellow	: $yellow-light;
$button-active-bg-color-yellow	: $yellow-dark;
$button-bg-color-orange			: $orange;
$button-color-orange 			: $white;
$button-hover-bg-color-orange	: $orange-light;
$button-active-bg-color-orange	: $orange-dark;
$button-bg-color-red			: $red;
$button-color-red 				: $white;
$button-hover-bg-color-red		: $red-light;
$button-active-bg-color-red		: $red-dark;
$button-bg-color-pink			: $pink;
$button-color-pink 				: $white;
$button-hover-bg-color-pink		: $pink-light;
$button-active-bg-color-pink	: $pink-dark;
$button-bg-color-purple			: $purple;
$button-color-purple 			: $white;
$button-hover-bg-color-purple	: $purple-light;
$button-active-bg-color-purple	: $purple-dark;
$button-bg-color-black			: $black-light;
$button-color-black 			: $white;
$button-hover-bg-color-black	: $grey-dark;
$button-active-bg-color-black	: $black;
$button-bg-color-grey			: $grey;
$button-color-grey 				: $white;
$button-hover-bg-color-grey		: $grey-light;
$button-active-bg-color-grey	: $grey-dark;

$button-bg-color-standard			: $button-bg-color-grey;
$button-color-standard 				: $button-color-grey;
$button-hover-bg-color-standard		: $button-hover-bg-color-grey;
$button-active-bg-color-standard	: $button-active-bg-color-grey;

// -- Button embellishments
$button-border-radius	: $sizing-small;

// -- Button sizes
$button-small-padding		: $sizing-small;
$button-medium-padding		: $sizing-medium;
$button-large-padding		: $sizing-large;
$button-xlarge-padding		: $sizing-xlarge;

$button-standard-padding	: $button-medium-padding;

// - Lists
$list-margin 		: $sizing-large;
$list-item-margin	: $sizing-medium;

// - Tables
$table-margin				: $sizing-large;
$table-cell-padding			: $sizing-medium;
$table-cell-border-width	: $border-width-small;
$table-cell-border-color	: $grey;
$table-cell-border-style	: $border-style;

// - Forms
// -- Inputs
$input-text-border-width	: $border-width-small;
$input-text-border-color	: $grey;
$input-text-border-style	: $border-style;
$input-text-padding			: $sizing-small;

// -- Placeholder
$placeholder-color	: $black;

// Organisms
// - site
$site-font 		: $font-sans-serif;

// - site-header
$site-header-bg-color	: $grey;
$site-header-color 		: $black;
$site-header-padding	: $sizing-large;

// - site-main
$site-main-padding	: $sizing-large;

// - site-footer
$site-footer-bg-color	: $black-light;
$site-footer-color 		: $white;
$site-footer-padding	: $sizing-large;