// Stylesheet
$stylesheet: 'stylesheet' !default;

// Breakpoints
$base  : 0;			 // Above 0px
$small : 30.063em;   // Above 320px
$medium: 33.813em;   // Above 480px
$large : 48em;       // Above 767px
$xlarge: 64em;       // Above 1024px

// Grid variables
$grid-columns	 : 24;            
$grid-width		 : 1170;         
$column-width	 : "";      
$column-margin	 : 30;
$breakpoints 	 : $base, $small, $medium, $large, $xlarge;
$breakpoint-alias: "base", "small", "medium", "large", "xlarge";

// Colors
$blue 			: #0074D9;
$blue-dark		: #001F3F;
$blue-light		: lighten($blue, 10%);
$green			: #2ECC40;
$green-dark		: darken($green, 10%);
$green-light	: lighten($green, 10%);
$yellow			: #FFDC00;
$yellow-dark	: darken($yellow, 10%);
$yellow-light	: lighten($yellow, 10%);
$orange			: #FF851B;
$orange-dark	: darken($orange, 10%);
$orange-light	: lighten($orange, 10%);
$red			: #FF4136;
$red-dark		: darken($red, 10%);
$red-light		: lighten($red, 10%);
$pink			: #F012BE;
$pink-dark		: darken($pink, 10%);
$pink-light		: lighten($pink, 10%);
$purple			: #B10DC9;
$purple-dark	: darken($purple, 10%);
$purple-light	: lighten($purple, 10%);

$black			: #000;
$black-light	: #111;
$grey			: #aaa;
$grey-light		: #ddd;
$grey-dark		: #333;
$white			: #fff;


// Spacing
$spacing      : rem(20);
$spacing-large: rem(30);
$spacing-small: rem(10);

// Fonts
$font-primary	: 'NexaThin', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-secondary	: 'Alexandria', Georgia, Times, "Times New Roman", serif;
$font-black		: 'NexaBlack', "Arial Black", "Arial Bold", Gadget, sans-serif;
$font-bold		: 'Nexa-Bold', "Arial Bold", Gadget, sans-serif;
$font-light		: 'Nexa-Light', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-code		: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

// Font sizes
$font-size-h1: 35;
$font-size-h2: 30;
$font-size-h3: 25;
$font-size-h4: 30;
$font-size-h5: 25;
$font-size-h6: 20;
$font-size-p : 15;